<!DOCTYPE html>
{% extends "smfreal/navigation.html" %}
{% load staticfiles %}
{% block body_block %}

<h3>List of empanelled AMCs and mutual funds</h3>
{%if fundl %}
<div class="">
  <table>
      <img id="imgfile" src="{% static "images/axismutualfund_mf.jpg" %}" alt="">
      <thead>
      <th>Company name</th>
      <th>fund type</th>
      <th>fund name</th>
      <th>launch date</th>
      <th>CAGR</th>
    </thead>
    {% for list in fundl %}
    {% if list.fundcompany == 'axis' or list.fundcompany == 'Axis' %}
    <tr>
      <td>{{list.fundcompany}}</td>
      <td>{{list.fundtype}}</td>
      <td>{{list.fundname}}</td>
      <td>{{list.fundlaunchdate}}</td>
      <td>{{list.fundreturn}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>

<div class="">
  <br>
  <img id="imgfile" src="{% static "images/MOTILALOSWAL_MF.jpg" %}" alt="">
  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for list in fundl %}
    {% if list.fundcompany == 'Motilal Oswal' %}
    <tr>
      <td>{{list.fundcompany}}</td>
      <td>{{list.fundtype}}</td>
      <td>{{list.fundname}}</td>
      <td>{{list.fundlaunchdate}}</td>
      <td>{{list.fundreturn}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>


{% else %}

<p>No website found!</p>

{% endif %}
{% endblock %}
